{
  "presets": ["react", "env"],
  "plugins": ["emotion"],
  "env": {
    "production": {
      "plugins": ["emotion"]
    },
    "development": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ]
      ],
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true
          }
        ]
      ]
    }
  }
}
